.wrapper {
    position: relative;
    padding: 16px 0;

    &::before {
        content: "";
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0px;
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
        transform: scaleY(0.5);
    }
}

.label {
    padding: 0px 8px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(22, 24, 35, 0.75);
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: background 200ms ease-in-out 0s;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 12px;
}

.item-info {
    flex: 1;
    margin-top: -2px;
    margin-bottom: -2px;
}

.nickname {
    max-width: 145px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.check {
    margin-left: 4px;
    color: #20d5ec;
    font-size: 1.4rem;
}

.name {
    max-width: 145px;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.more-btn {
    padding: 0px 8px;
    margin-top: 8px;
    color: var(--primary);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    cursor: pointer;
}
