.wrapper {
    --search-border-radius: 92px;
    height: var(--default-layout-header-height, 60px);
    width: 100%;
    position: fixed;
    top: 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    z-index: 1000;
}

.inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 100%;
    padding-right: 24px;
    padding-left: 16px;
}

.left {
    display: flex;
    min-width: 300px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.get-app {
    color: rgba(22, 24, 35, 0.75);
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.icon-options {
    font-size: 1.8rem;
    margin-left: 16px;
    padding: 0px 12px;
    cursor: pointer;
}

.action-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(22, 24, 35);
    margin-left: 16px;
    height: 32px;
    padding: 3px 3px 0px;
}

.badge {
    position: absolute;
    top: -3px;
    right: -8px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--primary);
}

.user-avatar {
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 24px;
    cursor: pointer;
}
